<div class="all-in-one-table" furyPage furyPagePadding furyScrollbar>
  <fury-breadcrumbs current="Borrower"></fury-breadcrumbs>
  <div class="list-table">
    <fury-list name="Borrowers" [columns]="columns" (filterChange)="onFilterChange($event)">
      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container *ngFor="let column of columns">
          <ng-container [matColumnDef]="column.property">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="fury-mobile-label">{{ column.name }}</span>
              {{ row[column.property] }}
            </mat-cell>
          </ng-container>
        </ng-container>
        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;" (click)="updateCustomer(row)" class="clickable"></mat-row>
      </mat-table>
      <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>
    </fury-list>
  </div>
</div>