<h2 mat-dialog-title>Author</h2>

<form [formGroup]="authorForm" (ngSubmit)="save()">
  <mat-dialog-content>

      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-placeholder>AuthorName</mat-placeholder>
            <input type="text" formControlName="txtAuthorName" matInput>
          </mat-form-field>
        </div>
       

  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button [disabled]="!authorForm.valid">UPDATE AUTHOR</button>
  </mat-dialog-actions>
</form>
